.nav {
  width: 82.2%;

  @media #{$mobile-width} {
    position: relative;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding-bottom 0.4s step-end;
  }
}

.nav__list {
  @include clear-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 110px;

  @media #{$tablet-width} {
    flex-wrap: nowrap;
    max-height: none;
  }
}

.nav__item {
  white-space: nowrap;

  &:not(:nth-of-type(n + 5)) {
    margin-right: 15px;
  }
}

.nav__link {
  @include font(400, 15px, 25px, $font-ptmono);
  color: $dark;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }
}
