$font-ptmono: "PT Mono", "Roboto", sans-serif;
$font-robotoCon: "Roboto Condensed", "Roboto", sans-serif;
$blue: #00b2ff;
$dark: #1b2d37;
$deep-dark: #203c42;
$grey: #666666;
$tablet-width: "(max-width: 1023px)";
$mobile-width: "(max-width: 767px)";
$retina-dppx: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
