$font-ptmono: "PT Mono", "Roboto", sans-serif;
$font-robotocondensed: "Roboto Condensed", "Roboto", sans-serif;
$blue: #00B2FF;
$dark: #1B2D37;
$deep-dark: #203C42;
$grey: #666666;
$tablet-width: "(max-width: 1023px)";
$mobile-width: "(max-width: 767px)";
$retina-dppx: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
